<template>
  <div class="perrito">
    <HelloWorld msg="Welcome to Your Vue.js App"/>
    <login msg="Buena pez"/>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'
import Login from '@/components/Login.vue'

export default {
  name: 'Perrito',
  components: {
    HelloWorld,
    Login
  }
}
</script>
